@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat:wght@500&family=Roboto:ital@1&display=swap');

div.author-info > h2 {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

div.author-info > h2[data-title]:hover {
    cursor: pointer;
}

div.author-info > h2[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    border-radius: 50%;
    bottom: -100%;
    right: 0;
    transform: translateX(100%);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--gotin);
}

nav h2 {
    text-align: right;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    /* padding-left: 5px; */
    color: var(--white);
    margin-bottom: 5%;
}
nav h2 span.danger {
    color: hsl(60, 100%, 45%);
}

/* --------------------------------------------------------------> */

:root {
    --blue: rgb(40, 123, 255);
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --gotin: hsl(0, 0%, 90%);

    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark: #677483;
    --color-background: #f6f6f9;

    --box-shadow: 0 2rem 3rem var(var(--color-light));

    --color-1: #4f7cac;
    --color-2: #3c474b;
    --color-3: #162521;
    --color-4: #c0e0de;
    --color-5: #9eefe5;

    --profile-pic-size: 40px;

    --heading-bg: hsl(193, 100%, 35%);
    --article-bg: hsl(193, 100%, 20%);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    /* overflow: hidden; */
}

/* .container {
    position: relative;
    background-color: red;
    width: 100%;
} */

.fa-solid.fa-bars {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* padding: 10px; */
    /* transform: translateX(100%); */
    /* display: none; */
    opacity: 0;
    pointer-events: none;
}

nav {
    position: fixed;
    width: 250px;
    height: 100%;

    background: radial-gradient(
        circle at 74.2% 50.9%,
        rgb(14, 72, 222) 5.2%,
        rgb(3, 22, 65) 75.3%
    );

    transition: 0.5s;
}

nav ul {
    /* top: 0;
    left: 0; */
}

nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
}

nav ul li.active {
    background-color: var(--gotin);
}

nav ul li:last-child {
    position: absolute;
    bottom: 3%;
    pointer-events: none;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

nav ul li.active a {
    color: var(--black1);
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

nav ul li a .icon span {
    font-style: 1.75em;
}
nav ul li a .title {
    width: 100%;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

@media (min-width: 600px) {
    /* nav ul li.active a::before {
        content: '';
        position: absolute;
        right: 0;
        top: -50px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 35px 35px 0 10px var(--color-background);
        pointer-events: none;
    }

    nav ul li.active a::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -50px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px var(--color-background);
        pointer-events: none;
    } */
}

/* a {
    -webkit-tap-highlight-color: transparent;
} */
* {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 600px) {
    nav {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    nav.active {
        left: 0;
    }

    .fa-solid.fa-bars {
        opacity: 1;
        pointer-events: all;
    }
}

main {
    /* background-color: var(--color-background); */
    /* background-color: hsl(42, 85%, 93%); */
    min-height: 100vh;
    width: calc(100vw - 250px);
    margin-left: 250px;
    /* s procenti ne stava -> nz shto, bodyto e 100vh */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 30px; */
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* padding-block: clamp(5px, 2%, 10px); */
}

header > div#personal-info {
    /* background-color: red; */
    margin-right: 3%;
    width: 100px;
    align-items: center;
    /* height: 30px; */
    font-size: 0.8rem;
    display: flex;
    gap: 10px;
}
header > div#personal-info > div#greeting {
    /* width: 200px; */
}
header > div#personal-info > div#greeting > p > span {
    font-weight: bold;
}
header > div#personal-info > img {
    /* width: 50%; */
    /* display: block; */
    /* border-radius: 50%; */
}

header > i {
    margin-left: 3%;
}

@media (max-width: 600px) {
    main {
        width: 100vw;
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    body {
        overflow: scroll;
    }
}

/* --------------------------------------------------------------> */

article#post {
    /* padding-inline: 4%; */
    margin: auto;
    width: 90%;
    background-color: var(--article-bg);
    border-radius: 25px;

    color: #fff;

    /* --profile-pic-size: 40px; */

    /* background-color: burlywood; */
}

section#content {
    /* padding-bottom: 10px; */
    /* background-color: red; */
    /* height: 300px; */
    /* border: 1px solid; */
    font-size: 1rem;
    overflow: hidden;
    /* background-color: var(--white); */
    /* cursor: pointer; */
    /* -webkit-box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* gap: 10px; */
    /* scale: 0.9; */
    /* opacity: 0.8; */
    transition: all 0.2s;
    border-radius: 25px;
}
section#content:hover {
    /* scale: 1; */
    /* opacity: 1; */
}
section#content div.header {
    /* color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 5px; */
    font-weight: bold;
}

section#content div.header,
section#content div.stats {
    padding: 10px;
}

/* section#content div.author-info div.profile-pic-cutter { */
div.profile-pic-cutter {
    width: var(--profile-pic-size);
    background-color: red;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
/* section#content div.author-info img { */
div.profile-pic-cutter img {
    width: var(--profile-pic-size);
    position: absolute;
    /* top: 0%; */
    /* transform: translateX(-50%); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* aspect-ratio: 1 / 1; */
    /* border-radius: 50%; */
}

section#content div.author-info {
    /* --profile-pic-size: 30px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}
section#content div.author-info h2 {
    font-size: 1rem;
}

div.options {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    /* color: var(--article-bg); */
    color: #fff;
}
section#content > img.image {
    width: 50%;
    /* height: 45%; */
    width: 100%;
    margin-inline: auto;
    /* border-radius: 10px; */
}

section#content > div.stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    /* padding: 10px 5px; */
}
section#content > div.stats > div.interactions {
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}
section#content > div.stats > div.interactions > div.interaction {
    display: flex;
    align-items: center;
    gap: 3px;
}

article#post div.interaction:hover {
    cursor: pointer;
}

article#post div.interaction:nth-child(1) {
    border-bottom: 3px solid black;
}
article#post.comments-mode div.interaction {
    border: none;
}
article#post.comments-mode div.interaction:nth-child(4) {
    border-bottom: 3px solid black;
}

section#content > div.main-content {
    /* min-height: 400px; */
    overflow: hidden;
    background-color: var(--white);
    /* border-radius: 10px; */
    color: #000;

    /* padding: 10px; */
    /* margin-block: 30px; */
    display: grid;
}

/* section#content > div.main-content > div.post > h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-block: 10px;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
    font-size: 2.5rem;
    извадих го над stat-овете
} */
main > h1 {
    font-family: 'Montserrat', sans-serif;
    /* margin-bottom: 10px; */
    /* margin-top: 30px; */
    text-align: center;
    padding-block: 10px;
    /* background-color: hsl(0, 0%, 30%); */
    /* background-color: hsl(3, 90%, 49%); */
    background-color: var(--heading-bg);

    color: #fff;
    font-size: 2.5rem;
    margin-block: 40px 20px;
    border-top-right-radius: 9999px;
    width: 96%;
    /* border-top-left-radius: 20px; */

    /* color: #fff; */
    /* background-color: hsl(0, 0%, 20%); */
    /* padding-block: 10px; */
}

section#content > div.main-content > div.post > p {
    padding: 10px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 1.1rem;
}

section#content > div.main-content > div.post > p::first-letter {
    /* text-transform: capitalize; */
}

section#content > button {
    /* box-sizing: content-box; */
    background-color: var(--article-bg);
    border: none;
    outline: none;
    width: 50%;
    border-radius: 25px;
    padding-block: 10px;
    align-self: flex-end;
    color: #fff;
    font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
section#content > div.main-content > div.comments {
    transform: translateX(100%);
    padding: 20px 10px;
}
article.comments-mode section#content > div.main-content > div.comments {
    transform: translateX(0);
}
article.comments-mode section#content > div.main-content > div.post {
    transform: translateX(-100%);
}

article.comments-mode section#content > div.main-content {
}

section#content > div.main-content > div.post,
section#content > div.main-content > div.comments {
    /* min-height: 400px; */
    transition: transform 600ms ease-in-out;
    grid-row-start: 1;
    grid-column: 1/ 1;
}

section#content > div.main-content > div.comments {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section#content > div.main-content > div.comments > section#leave-a-reply {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section#content
    > div.main-content
    > div.comments
    > section#leave-a-reply
    div.comments-header {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    align-items: center;
}

section#content
    > div.main-content
    > div.comments
    > section#leave-a-reply
    button {
    border: none;
    background-color: var(--article-bg);
    color: #fff;
    width: 40%;
    max-width: 200px;
    padding: 10px;
    border-radius: 25px;
    align-self: flex-end;
}

section#content
    > div.main-content
    > div.comments
    > section#leave-a-reply
    button:hover {
    cursor: pointer;
    background-color: hsl(340, 79%, 41%);
}

div[contenteditable] {
    /* border: 1px solid black; */
    border-radius: 10px;
    min-height: 100px;
    max-height: 300px;
    width: 100%;
    overflow-x: none;
    overflow-y: auto;
    outline: none;
    background-color: hsl(0, 0%, 95%);

    /* display: flex; */
    /* align-items: center; */
}

/* ------------------> */
section#content > div.main-content > div.comments > section#comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline-start: 20px;
}
section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-around; */
    /* align-items: center; */
}

section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    > div.comments-header {
    /* background-color: #162521; */
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 150px;
    width: 20%;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* align-items: center; */
}

section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    > div.comments-header
    > div.commenter-info {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* gap: 5px; */
}

section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    > div.comment {
    /* background-color: hsl(42, 85%, 93%); */

    /* border: 1px solid; */
    width: 80%;
    /* background-color: cyan; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    /* padding-inline: 5px; */
    font-size: 0.9rem;
    /* width: 80%; */
    /* border-radius: 10px; */
    border-radius: 10px;
    overflow: hidden;
    /* width: 70%; */
    /* flex-shrink: 5; */
    border: 2px solid hsl(0, 0%, 80%);
}
section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    > div.comment
    > p {
    background-color: hsl(0, 0%, 95%);
    padding: 8px;
}

section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    > div.comment
    > div.comment-heading {
    /* border-bottom: 1px dashed black; */
    width: 100%;
    /* text-align: right; */
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top-left-radius: 25px; */
    /* margin-right: 50px; */
    /* padding: 8px; */
    padding: 5px 10px;
}
section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    > div.comment
    > div.comment-heading
    > i {
    color: var(--white);
    background-color: var(--article-bg);
    /* margin-right: 8px; */
    border-radius: 50%;
    padding: 5px;
}

section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    h4 {
    color: yellowgreen;
}

section#content
    > div.main-content
    > div.comments
    > section#comments
    > article.comment
    div.date {
    /* font-style: italic; */
    font-size: 0.78rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (pointer: fine) {
    section#content > button:hover {
        cursor: pointer;
        /* background-color: hsl(348, 83%, 37%); */
    }
}

@media (max-width: 600px) {
}
/* -------------------------------------------------------> */

section#content > div.header,
section#content > div.stats {
    padding-inline: 1%;
}
@media (max-width: 800px) {
    article#post {
        /* padding-inline: 2%; */
        width: 100%;
    }
    section#content > div.header,
    section#content > div.stats {
        padding-inline: 2%;
    }

    main > h1 {
        width: 100%;
        margin-block-end: 0;
    }

    main > h1,
    article#post {
        border-radius: 0;
    }

    section#content > div.main-content > div.comments > section#comments {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-inline-start: 0;
    }

    section#content
        > div.main-content
        > div.comments
        > section#comments
        > article.comment
        > div.comments-header {
        min-width: 150px;
        width: 100%;
    }

    section#content
        > div.main-content
        > div.comments
        > section#comments
        > article.comment {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    section#content
        > div.main-content
        > div.comments
        > section#comments
        > article.comment
        > div.comment {
        width: 100%;
    }
}
