@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat:wght@500&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--gotin);
}

nav h2 {
    text-align: right;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    /* padding-left: 5px; */
    color: var(--white);
    margin-bottom: 5%;
}
nav h2 span.danger {
    color: hsl(60, 100%, 45%);
}

/* --------------------------------------------------------------> */

:root {
    --blue: rgb(40, 123, 255);
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --gotin: hsl(0, 0%, 90%);

    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark: #677483;
    --color-background: #f6f6f9;

    --box-shadow: 0 2rem 3rem var(var(--color-light));

    --color-1: #4f7cac;
    --color-2: #3c474b;
    --color-3: #162521;
    --color-4: #c0e0de;
    --color-5: #9eefe5;
}

body {
    min-height: 100vh;
    /* overflow-x: hidden; !!!!!!!!!!!!!!! */
    /* overflow: hidden; */
}

/* .container {
    position: relative;
    background-color: red;
    width: 100%;
} */

.fa-solid.fa-bars {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* padding: 10px; */
    /* transform: translateX(100%); */
    /* display: none; */
    opacity: 0;
    pointer-events: none;
}

nav {
    position: fixed;
    width: 250px;
    height: 100%;

    background: radial-gradient(
        circle at 74.2% 50.9%,
        rgb(14, 72, 222) 5.2%,
        rgb(3, 22, 65) 75.3%
    );

    transition: 0.5s;
}

nav ul {
    /* top: 0;
    left: 0; */
}

nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
}

nav ul li.active {
    background-color: var(--color-background);
}

nav ul li:last-child {
    position: absolute;
    bottom: 3%;
    pointer-events: none;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

nav ul li.active a {
    color: var(--black1);
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

nav ul li a .icon span {
    font-style: 1.75em;
}
nav ul li a .title {
    width: 100%;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

@media (min-width: 600px) {
    /* nav ul li.active a::before {
        content: '';
        position: absolute;
        right: 0;
        top: -50px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 35px 35px 0 10px var(--color-background);
        pointer-events: none;
    }

    nav ul li.active a::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -50px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px var(--color-background);
        pointer-events: none;
    } */
}

/* a {
    -webkit-tap-highlight-color: transparent;
} */
* {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 600px) {
    nav {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    nav.active {
        left: 0;
    }

    .fa-solid.fa-bars {
        opacity: 1;
        pointer-events: all;
    }
}

main {
    background-color: var(--color-background);
    min-height: 100vh;
    width: calc(100vw - 250px);
    margin-left: 250px;
    /* s procenti ne stava -> nz shto, bodyto e 100vh */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* padding-block: clamp(5px, 2%, 10px); */
}

header > div#personal-info {
    /* background-color: red; */
    margin-right: 3%;
    width: 100px;
    align-items: center;
    /* height: 30px; */
    font-size: 0.8rem;
    display: flex;
    gap: 10px;
}
header > div#personal-info > div#greeting {
    /* width: 200px; */
}
header > div#personal-info > div#greeting > p > span {
    font-weight: bold;
}
header > div#personal-info > img {
    width: 50%;
    /* display: block; */
    border-radius: 50%;
}

header > i {
    margin-left: 3%;
}

@media (max-width: 600px) {
    main {
        width: 100vw;
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    body {
        overflow: scroll;
    }
}

/* --------------------------------------------------------------> */

article#post {
    padding-inline: 2%;
}

section#content {
    /* padding-bottom: 10px; */
    /* background-color: red; */
    /* height: 300px; */
    /* border: 1px solid; */
    font-size: 1rem;
    overflow: hidden;
    /* background-color: var(--white); */
    /* cursor: pointer; */
    /* -webkit-box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    gap: 10px;
    /* scale: 0.9; */
    /* opacity: 0.8; */
    transition: all 0.2s;
    /* border-radius: 10px; */
}
section#content:hover {
    /* scale: 1; */
    /* opacity: 1; */
}
section#content div.header {
    /* color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 5px; */
    font-weight: bold;
    /* padding: 10px; */
}
section#content div.author-info div#profile-pic-cutter {
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
section#content div.author-info img {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* aspect-ratio: 1 / 1; */
    /* border-radius: 50%; */
}
section#content div.author-info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}
section#content div.author-info h2 {
    font-size: 1rem;
}

div.options {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
section#content > img.image {
    width: 50%;
    /* height: 45%; */
    width: 100%;
    margin-inline: auto;
    /* border-radius: 10px; */
}

section#content > div.stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    /* padding: 10px 5px; */
}
section#content > div.stats > div.interactions {
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}
section#content > div.stats > div.interactions > div.interaction {
    display: flex;
    align-items: center;
    gap: 3px;
}
section#content > div.main-content > h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 2.5rem;
    /* color: #fff; */
    /* background-color: hsl(0, 0%, 20%); */
    /* padding-block: 10px; */
}

section#content > div.main-content > p {
    /* padding: 5px; */
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 1.1rem;
}

section#content > div.main-content > p::first-letter {
    text-transform: capitalize;
}

section#content > button {
    /* box-sizing: content-box; */
    background-color: hsl(348, 83%, 47%);
    border: none;
    outline: none;
    width: 50%;
    border-radius: 25px;
    padding-block: 10px;
    align-self: flex-end;
    color: #fff;
    font-weight: bold;
}

@media (pointer: fine) {
    section#content > button:hover {
        cursor: pointer;
        /* background-color: hsl(348, 83%, 37%); */
    }
}

@media (max-width: 600px) {
}
/* -------------------------------------------------------> */
